body {
  background-color: black;
}

.nav-link:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 20);
  color: #fff;
}

.custom-active {
  background-color: #00ffff !important;
  color: black !important;
}

.btn-custom-outline {
  color: #00ffff;
  border-color: #00ffff;
}

.btn-custom-outline:hover,
.btn-custom-outline:focus {
  color: #000;
  background-color: #00ffff;
  border-color: #00ffff;
  box-shadow: none;
}

.faq-item {
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  text-align: center;
}

button.question {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 10px;
  width: 50%;
  text-align: left;
  border-radius: 25px;
  text-align: center;
}

.answer {
  display: none;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.card {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: solid 2px #00ffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.15);
}

.landing-cards .card:hover {
  transform: none;
}

.card-img-top {
  height: 150px; /* Fixed height */
  width: 100%; /* Full width of card */
  object-fit: cover; /* Prevents distortion and keeps image aspect ratio */
}
