body {
  background-color: black;
  transform: scale(0.80);
  transform-origin: top center;
  min-height: 100vh;
}

.nav-link:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 20);
  color: #fff;
}

.custom-active {
  background-color: #00ffff !important;
  color: black !important;
}

.btn-custom-outline {
  color: #00ffff;
  border-color: #00ffff;
}

.btn-custom-outline:hover,
.btn-custom-outline:focus {
  color: #000;
  background-color: #00ffff;
  border-color: #00ffff;
  box-shadow: none;
}

/* card styling */
.card {
  transition: all 0.3s;
  height: 400px; 
  width: 100%;
}
.card:hover {
  transform: scale(1.15);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover; 
  object-position: center; 
}

.card-body {
  height: 150px; 
  overflow: hidden;
}



